$bodyColor : royalblue;
$btnColor : rgb(146, 240, 143);
$btnText :#000;
$btnBorder : 1px solid transparent;
$btnHoverBack : #f5f5f5;
$btnHoverTextClr : #222;
$font-weights:(
    "regular" :400,
    "medium": 500,
    "bold": 700
);
$mob-width: 768px;

$txtWhite : #fff;
$footerBg:  #222;