*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
$txtWhite : #fff;
$footerBg:  #222;
// header css
header{
    nav{
        ul{
            li{
                a{
                    color:$txtWhite !important;
                }
            }
        }
    }
}

// header{
//     & a{
//         color:$txtWhite !important;
//     }
// }

// footer css
footer{
    background-color: $footerBg;
    p{  
        color:$txtWhite;
    }
}
.post_col{
    h2{
        font-size:1.5rem;
    }
    p{
        font-size:0.8rem;
    }
}
// blog pagination
.blog_paging{
    .page-numbers{
        padding:.2rem .5rem;
    }
    .page-numbers.current{
        background-color: $footerBg;
        color:$txtWhite;
        border-radius: 4px;;
    }
}